* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  animation: fadeIn 1s ease-in-out;
  overflow: auto;
}

/* Navegación */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  z-index: 100;
  animation: slideInFromTop 0.8s ease-out;
}

.menu-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 64px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: var(--md-sys-color-on-primary);
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background: var(--md-sys-color-secondary-container);
  box-shadow: 2px 0 5px var(--md-sys-color-on-secondary);
  transition: left 0.3s ease-in-out;
  padding-top: 24px;
  z-index: 200;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.sidebar li {
  padding: 15px;
  border-bottom: 1px solid var(--md-sys-color-on-secondary-container);
}

.sidebar a {
  color: var(--md-sys-color-on-secondary-container);
  text-decoration: none;
  display: block;
}

.close-menu {
  font-size: 2rem;
  color: var(--md-sys-color-on-secondary-container);
  text-align: right;
  padding: 10px 20px;
  cursor: pointer;
}

.icon_menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  margin-right: 12px;
}

/* Sección Inicio */
.inicio {
  background: var(--md-sys-color-on-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: calc(100dvh + 80px);
}

.logo-big {
  margin: 24px;
  width: 80%;
  max-height: 60%;
  animation: fadeIn 1.2s ease-in-out;
}

.inicio-text {
  color: var(--md-sys-color-on-primary-container);
  border-radius: 10px;
}

.btn-big {
  display: inline-block;
  padding: 12px 24px;
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  background: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
  text-decoration: none;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.btn-big:hover {
  transform: scale(1.1);
}

/* Secciones */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--md-sys-color-on-secondary);
  margin: 2rem 1rem;
  padding: 3rem 2rem;
  border-radius: 12px;
  min-height: 50dvh;
  animation: scaleUp 0.5s ease-in-out;
}

/* Nosotros */

.cards-flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  border-radius: 20px;
  background: var(--md-sys-color-on-secondary-container);
  position: relative;
  padding: 1rem;
  margin: 1rem;
  border: 3px solid var(--md-sys-color-on-primary);
  transition: 0.5s ease-out;
}

.card-details {
  color: var(--md-sys-color-secondary-container);
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: var(--md-sys-color-on-secondary);
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card:hover {
  border-color: var(--md-sys-color-primary);
  box-shadow: 0 4px 12px 0 var(--md-sys-color-primary);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card-button:hover {
  transform: scale(1.1);
}

/* Nuestro equipo */

.flip-card {
  background-color: transparent;
  width: 240px;
  height: 280px;
  perspective: 1000px;
  margin: 1.5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 2em;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: var(--md-sys-color-on-primary);
  border: 4px solid var(--md-sys-color-primary);
}

.profile-image {
  background-color: transparent;
  border: none;
  border-radius: 5em;
  width: 120px;
  height: 120px;
  font-size: 100px;
  color: var(--md-sys-color-primary);
}

.name {
  font-size: 27px;
  color: var(--md-sys-color-primary);
  font-weight: bold;
}

.flip-card-back {
  background-color: var(--md-sys-color-on-primary);
  border: 4px solid var(--md-sys-color-primary);
  transform: rotateY(180deg);
  padding: 11px;
}

.description_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.description {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--md-sys-color-primary);
}

.socialbar {
  background-color: transparent;
  border-radius: 3em;
  width: 90%;
  padding: 14px;
  margin-top: 11px;
  margin-left: 10px;
  word-spacing: 24px;
}

.socialbar a {
  text-decoration: none;
}

.socialbar i {
  transition: 0.4s;
  font-size: 1.2rem;
  color: var(--md-sys-color-primary);
}

.socialbar i:hover {
  color: var(--md-sys-color-on-primary-container);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


/* Proyectos */

.project {
  position: relative;
  min-width: 200px;
  width: 480px;
  margin: 2rem;
  padding: 1rem;
  background: linear-gradient(-45deg, var(--md-sys-color-primary-container) 0%, var(--md-sys-color-on-primary) 100% );
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.project img {
  width: 90%;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.project:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px var(--md-sys-color-primary-container);
}

.project__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--md-sys-color-on-secondary-container);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.project:hover .project__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.project__title {
  color: var(--md-sys-color-secondary-container);
  font-size: 20px;
  font-weight: 700;

}

.project__description {
  margin: 1rem;
  font-size: 12px;
  text-align: justify;
  color: var(--md-sys-color-secondary-container);
  line-height: 1.2;
}

.project:hover img {
  scale: 0;
  transform: rotate(-45deg);
}


/* Social */
.social_feed-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-feed {
  width: 100%;
  max-width: 400px;
  height: 600px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
}

.social-feed iframe {
  width: 100%;
  height: 100%;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  width: 100%;
}

.derechos_reservados {
  align-self: self-start;
  margin: 16px 4px 4px;
}

.navbar-footer {
  display: flex;
  gap: 36px;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--md-sys-color-background);
}

.logo-footer {
  display: flex;
  padding-top: 12px;
  gap: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInFromTop {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

@keyframes scaleUp {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Media queries */
@media screen and (max-width: 800px) {

  @keyframes slideInFromTop {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

  @keyframes slideOutToTop {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100%); opacity: 0; }
  }

  .section {
    min-height: calc(100dvh - 80px);
  }

  .project__content {
    justify-content: normal;
  }

  .nav-links {
    display: none;
  }

  .icon_menu {
    display: block;
  }

  .sidebar.show {
    left: 0;
  }

  .footer {
    padding: 0;
  }

  .derechos_reservados {
    margin: 4px;
  }
}
